<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23042009868-8nl9k9saeiv96p0i5a5sgbcjh8qj021q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23042009868-8nl9k9saeiv96p0i5a5sgbcjh8qj021q</string>
	<key>API_KEY</key>
	<string>AIzaSyAgU9vhE2bU_WyLbFbCG75tyAGixXxXibI</string>
	<key>GCM_SENDER_ID</key>
	<string>23042009868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeboxing</string>
	<key>PROJECT_ID</key>
	<string>timeboxing-aljabar</string>
	<key>STORAGE_BUCKET</key>
	<string>timeboxing-aljabar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23042009868:ios:47bcb2963e426bdc1fb729</string>
</dict>
</plist>